.highlight1 {
  background-color: yellow;
}

.highlight-l {
  background-color: orange;
}

.highlightI {
  background-color: rgb(182, 3, 3);
}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

ul li {
  cursor: pointer;
  padding: 4px 0;
}